@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_MyLayoutPro.cshtml";
}

<div class="center_content">
<div id="bodyPan">
  		<h1><span ><strong><em style="margin-left:180px">See Your History</em></strong></span></h1> <br />

     
      <form action="/AdDetail/ShowDetails" method="post">
         
         
                 <em style="margin-left:150px"> Enter Id: <input type="text" name="id" id="id" /> </em>
                 <input type="submit" id="b2" value="Enter" /><br />
                 </form>
        </div>

    </div><!-- end of center content -->
