@model ClassifiedAds.Models.AdDetail
@{
    ViewBag.Title = "PostAds";
    Layout = "~/Views/Shared/_MyLayoutPro.cshtml";
}

<div class="center_content">
       
   <h2>Add New Item</h2>
<form action="/AdDetail/PostAd" method="post" enctype="multipart/form-data">

      <table width="500" border="0">
  <tr>
      <tr>
    <th width="153" height="50" scope="row">      <h3>Upload Image</h3></th>
    <td width="252" height="50" ><input type="file" name="file" id="file"/></td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
    <th width="153" height="50" scope="row">
      <h3>Ad Title</h3>
</th>
    <td  width="252" height="50" ><input type="text" name="title" id="title" /></td>
    <td  width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>Ad Category</h3></th>
    <td width="252" height="50" ><input type="text" name="type" id="type" /></td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
          <tr>
    <th width="153" height="50" scope="row">      <h3>Status/Description</h3></th>
    <td width="252" height="50" ><input type="text" name="status" id="status" /></td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>Price</h3></th>
    <td width="252" height="50" ><input type="text" name="price" id="price" /></td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>Quantity</h3></th>
    <td width="252" height="50" ><input type="text" name="quantity" id="quantity" /></td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
   
          
 
  @*<tr>
    <th width="153" height="50" scope="row">      <h3>Category</h3></th>
    <td width="252" height="50" >

<select name="category">
<option value="Mobile_Phone">Mobile Phone</option>
<option value="WebCam">WebCam</option>
<option value="Laptop">Laptop</option>
</select>
&nbsp;</td>*@

      
    <td><input type="submit" name="addbutton" value="Add Item" /></td>
  </tr>
</table>
</form>
    </div> <!-- end of templatmeo_content -->




   