@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutPro.cshtml";
}





     <li>@Html.ActionLink("Sign Up", "Signup","Account" )</li>
      <li>@Html.ActionLink("Admin Login", "login","Account" )</li>
      <li>@Html.ActionLink("User Login", "u_login","Account" )</li>      

 

      
   

<div class="center_content">
   	
<div class="center_title_bar">Latest Products</div>
    
    	
<div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Mango Jacket</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails"><img src="~/Images/jacket.gif" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">500$</span></div>                        
            
</div>
  

          
<div class="bottom_prod_box"></div>             
            
<div class="prod_details_tab">
                        
<a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="~/images/favs.gif" alt="" title="" border="0" class="left_bt" /></a>
            
<a href="~/Home/MangoDetail" class="prod_details">details</a>
</div>                     
        
</div>
    
    
 
     	

<div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/WristDetail">Wrist Watch</a></div>
                 
<div class="product_img"><a href="~/Home/WristDetail">
<img src="~/Images/p4.gif" alt="" title="" border="0" /></a></div>



<div class="prod_price"><span class="price">270$</span></div>
</div>
            
<div class="bottom_prod_box"></div>             
            
<div class="prod_details_tab">
            
          
<a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="~/Images/favs.gif" alt="" title="" border="0" class="left_bt" /></a>
            
<a href="~/Home/WristDetail" class="prod_details">details</a>             
            
</div>                     
        
</div>
 
     	
<div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/SofaDetail">Sofa</a></div>
                 
<div class="product_img"><a href="~/Home/SofaDetail">

<img src="~/Images/p5.gif" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>                        
            
</div>
            
<div class="bottom_prod_box"></div>             
            
<div class="prod_details_tab">
                        
<a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="~/Images/favs.gif" alt="" title="" border="0" class="left_bt" /></a>
             
            

<a href="~/Home/SofaDetail" class="prod_details">details</a>            
            
</div>                     
        
</div> 
 
     	
<div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="details">Diomand Ring</a></div>
                 
<div class="product_img"><a href="RingDetail"><img src="~/Images/p1.gif" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>                        
            
</div>
            

<div class="bottom_prod_box"></div>             
            
<div class="prod_details_tab">
            
            
<a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="~/Images/favs.gif" alt="" title="" border="0" class="left_bt" /></a>
            
            
<a href="~/Home/RingDetail" class="prod_details">details</a>            
            
</div>                     
        
</div>
    
    
 
     	
<div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/details">Ladies Shoes</a></div>
                 
<div class="product_img"><a href="~/Home/ShoesDetail"><img src="~/Images/shoes.gif" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">270$</span></div>                        
            
</div>
            
<div class="bottom_prod_box"></div>             
            
<div class="prod_details_tab">
            




<a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="~/Images/favs.gif" alt="" title="" border="0" class="left_bt" /></a>
            
            
<a href="~/Home/ShoesDetail" class="prod_details">details</a>             
            
</div>                     
        
</div>
 
     	
<div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/details">Nokia Lumia</a></div>
                 
<div class="product_img"><a href="~/Home/NokiaDetail"><img src="~/Images/cell.gif" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="reduce">4400$</span> <span class="price">4000$</span></div>                        
            
</div>
            

<div class="bottom_prod_box"></div>             
            
<div class="prod_details_tab">
            
            
<a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="~/Images/favs.gif" alt="" title="" border="0" class="left_bt" /></a>

                      
            
<a href="~/Home/NokiaDetail" class="prod_details">details</a>            
            
</div>                     
        
</div> 
 
 
 
 


 
      	
<div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 

<div class="product_title"><a href="~/Home/details">Vase</a></div>
                 
<div class="product_img"><a href="~/Home/VaseDetail"><img src="~/Images/vase.gif" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="reduce">159$</span> <span class="price">110$</span></div>                        
            
</div>
            
<div class="bottom_prod_box"></div>             
            
<div class="prod_details_tab">
                       
<a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="~/Images/favs.gif" alt="" title="" border="0" class="left_bt" /></a>
           
            
<a href="~/Home/VaseDetail" class="prod_details">details</a>            
            
</div>                     
        
</div>
    
    
 
     	

<div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/details">LG Washing</a></div>
                 
<div class="product_img"><a href="~/Home/details"><img src="~/Images/washing.gif" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">3300$</span></div>                        
            
</div>
            

<div class="bottom_prod_box"></div>             
            
<div class="prod_details_tab">
                        
<a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="~/Images/favs.gif" alt="" title="" border="0" class="left_bt" /></a>

                       
            
<a href="~/Views/details" class="prod_details">details</a>             
            
</div>                     
        
</div>
 
     	
<div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 

<div class="product_title"><a href="~/Home/details">Samsung DSLR</a></div>
                 
<div class="product_img"><a href="~/Home/details"><img src="~/Images/dslr.gif" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="reduce">1100$</span> <span class="price">995$</span></div>                        
            
</div>
            
<div class="bottom_prod_box"></div>             
            
<div class="prod_details_tab">
                       
<a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="~/Images/favs.gif" alt="" title="" border="0" class="left_bt" /></a>
 
                     
            
<a href="details.html" class="prod_details">details</a>            
            
</div>                     
        
</div> 
 
 
 
 
    
    
   
   

</div><!-- end of center content -->
   
 
