@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_MyLayoutPro.cshtml";
}

<div class="center_content">
<h2>Roles</h2>
   
    <h2><input type="submit" value="Admin"/></h2>
   
        <h2><input type="submit" value="User"/></h2>

    </div>
